#nosotrosFlex{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-top:13rem;
    h1{
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
}

#ayuda{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    h3{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    ul li{
        list-style: none;
    }
}

.nosotros{
    font-size: 1.6rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.donacion{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}